:root {
  --height: 38px;
  --width: 38px;
  --rounded: 8px;
  --mini-height: 24px;
  --mini-width: 24px;
  --mini-rounded: 6px;
}

.ant-pagination {
  color: var(--color-primary);
  font-size: 14px;
  font-family: inherit;
  display: flex;
  gap: 12px;
}

.ant-pagination .ant-pagination-prev,
.ant-pagination .ant-pagination-next,
.ant-pagination .ant-pagination-jump-prev,
.ant-pagination .ant-pagination-jump-next,
.ant-pagination .ant-pagination-item {
  min-width: var(--width);
  height: var(--height);
  color: var(--color-primary);
  text-align: center;
  font-family: inherit;
  padding: 0;
  margin: 0;
  border-radius: var(--rounded);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pagination .ant-pagination-prev button,
.ant-pagination .ant-pagination-next button {
  font-size: 18px;
  color: var(--color-primary);
}

.ant-pagination .ant-pagination-prev:hover,
.ant-pagination .ant-pagination-next:hover,
.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
  transition: all 0.2s;
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
}

.ant-pagination a:hover {
  color: var(--color-primary);
}

.ant-pagination .ant-pagination-item a {
  padding: 0;
  color: var(--color-primary);
}

.ant-pagination .ant-pagination-item-active {
  font-weight: 600;
  background-color: var(--color-tertiary);
  border-color: rgb(202 138 4);
}

.ant-pagination .ant-pagination-item-active:hover a {
  color: var(--color-primary);
}

.ant-pagination .ant-pagination-item-active:hover {
  border-color: rgb(202 138 4);
  background-color: rgb(202 138 4);
}

.ant-pagination
  .ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
.ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  color: var(--color-primary);
  font-family: inherit;
  text-indent: -0.165em;
}

.ant-pagination
  .ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon,
.ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
  color: var(--color-tertiary);
}

.ant-pagination.ant-pagination-mini .ant-pagination-prev,
.ant-pagination.ant-pagination-mini .ant-pagination-next,
.ant-pagination.ant-pagination-mini .ant-pagination-item,
.ant-pagination.ant-pagination-mini .ant-pagination-jump-prev,
.ant-pagination.ant-pagination-mini .ant-pagination-jump-next {
  min-width: var(--mini-width);
  height: var(--mini-height);
  border-radius: var(--mini-rounded);
  background-color: transparent;
  border: none;
}

.ant-pagination.ant-pagination-mini:not(.ant-pagination-disabled)
  .ant-pagination-item:not(.ant-pagination-item-active):hover,
.ant-pagination .ant-pagination-prev:hover,
.ant-pagination .ant-pagination-next:hover,
.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
  transition: all 0.2s;
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
}

.ant-pagination .ant-pagination-disabled,
.ant-pagination .ant-pagination-disabled:hover {
  cursor: pointer;
}

.ant-pagination.ant-pagination-mini {
  font-size: 13px;
  gap: 4px;
}

.ant-pagination.ant-pagination-mini .ant-pagination-item-active {
  font-weight: 600;
  background-color: var(--color-tertiary);
  border-color: rgb(202 138 4);
}

.ant-pagination.ant-pagination-mini .ant-pagination-item-active:hover {
  border-color: rgb(202 138 4);
  background-color: rgb(202 138 4);
}
