.ant-steps {
  font-family: inherit;
}

.ant-steps .ant-steps-item-icon {
  width: 36px;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #ff9216;
  border-color: #ff9216;
}

.ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title,
.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #ececec;
}

.ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after,
.ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: rgb(255 255 255 / 50%);
}

.ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: rgb(254 254 254 / 30%);
  border-color: transparent;
}

.ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: rgb(177 177 177 / 50%);
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #ffffff;
  border-color: #ffffff;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #ff8800;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #ff9d40;
}

.ant-carousel {
  font-family: inherit;
}

.ant-otp .ant-otp-input {
  border-radius: 0.25rem;
  border: none;
  border-bottom: 2px solid var(--color-tertiary);
  padding: 10px;
  outline: none;
  font-size: 14px;
}

.ant-otp .ant-otp-input:focus,
.ant-otp .ant-otp-input:hover {
  border: none;
  border-bottom: 2px solid var(--color-tertiary);
}
